@font-face {
  font-family: "script font";
  src: url("/font.ttf") format("truetype");
}

* {
  font-family: "script font", serif;
  background-color: black;
}

h1 {
  color: aliceblue;
  margin-left: 10vw;
  margin-top: 5vh;
  font-size: 55px;
}
a {
  color: #bce3dc;
  margin-left: 10vw;
  font-size: 35px;
  padding: 1%;
  display: block;
}

iframe {
  border-radius: 12px;
  margin-left: 20%;
}
